PROXY_URL=The URL at which the Auxdibot API is located.
NEXT_PUBLIC_DISCORD_INVITE_LINK=The invite link for the Discord bot
NEXT_PUBLIC_DISCORD_SERVER_LINK=The discord server link for the Support server.
AWS_ACCESS_KEY_NAME=The name for the AWS Access Key
AWS_SECRET_ACCESS_KEY=The secret for the AWS Access key
NEXT_PUBLIC_DOCUMENTATION_LINK=The URL for Auxdibot's docusaurus website
NEXT_PUBLIC_TOPGG_URL=The URL for Auxdibot's topgg website
NEXT_PUBLIC_DISCORD_PREMIUM_LINK=The URL for Auxdibot Premium's shop page.