@import url('https://fonts.cdnfonts.com/css/bauhaus-93');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        background-color: black;
    }
    :root {
        --color-primary-100: 253, 100, 79;
        --color-primary-200: 249, 117, 68;
        --color-primary-300: 247, 126, 62;
        --color-primary-400: 246, 131, 55;
        --color-primary-500: 243, 139, 44;
        --color-primary-600: 242, 142, 39;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .emoji {
        width: 1.5rem;
        height: fit-content;
    }
    .hover-underline {
        @apply absolute block w-full h-[2px] -bottom-1 left-0 scale-0 transition-transform duration-300 origin-right hover:origin-left;
        content: "";
    }
    .premium-gradient {
        @apply bg-gradient-to-t from-yellow-200 to-yellow-500;
    }
    .header {
        @apply font-bauhaus bg-gradient-to-b from-primary-100 to-primary-600 bg-center bg-clip-text text-transparent;
    }
    .secondary-gradient {
        @apply bg-gradient-to-b from-gray-200 via-gray-300 to-[98%] to-gray-400 bg-center bg-clip-text text-transparent;
    }
    .primary-gradient {
        @apply bg-gradient-to-br from-primary-100 to-primary-600;
    }
    .hover-gradient {
        @apply hover:bg-gradient-to-l hover:from-primary-100 hover:to-primary-600;
    }
    .secondary {
        @apply font-montserrat text-gray-300;
    }
    .text {
        @apply font-roboto text-gray-300;
    }
    .video {
        @apply absolute -z-10 -translate-y-1/2 top-1/2 -translate-x-1/2 left-1/2 bg-black h-full min-w-full min-h-fit object-cover blur-sm;
        background-attachment: scroll;
    }
    .break-words-wrap {
        word-wrap: break-word;
    }
    .dashboard-sidebar-wrapper {
        @apply flex flex-row items-center transition-all hover:bg-gradient-to-l from-orange-400 to-red-500 pl-5;
    }
    .dashboard-sidebar-element {
        @apply flex self-stretch flex-row py-2 gap-2 w-full font-roboto text-lg max-sm:text-base items-center cursor-pointer transition-all;

    }
    .dashboard-sidebar-selected {
        @apply text-2xl gap-2 max-md:text-sm bg-center bg-gray-800;
    }
    .dashboard-sidebar-selected-text {
        @apply text-xl max-md:text-base;
    }
    .header-styles {
        .react-datepicker__month-container {
            .react-datepicker__header {
                @apply bg-gray-700;
                .react-datepicker__current-month {
                    color: white !important;
                }
            }
        }
    }
    .doc-content {
        @apply prose-headings:font-raleway prose-h1:font-bauhaus prose-h1:lowercase prose-h1:header
        prose-h1:my-3 prose-h1:text-6xl prose-h2:header prose-h2:font-bold prose-h2:py-1
        prose-h2:my-3 prose-h2:text-4xl prose-p:my-5
        prose-h3:header prose-h3:font-bold prose-h3:py-1 prose-h3:my-3 prose-h3:text-2xl prose-code:text-white prose-code:border-gray-800 prose-code:mx-1 prose-code:border prose-code:bg-gray-800/50 prose-code:px-1 prose-code:rounded-md prose-blockquote:text-gray-400 
        prose-blockquote:font-semibold prose-a:text-orange-500 prose-a:no-underline prose-strong:text-gray-100
        prose-table:border prose-th:p-2 prose-th:border prose-tr:border-b prose-tr:border-gray-500 max-md:prose-tr:inline-flex max-md:prose-tr:p-2 max-md:prose-tr:w-full max-md:prose-tr:flex-col 
        md:prose-td:border-r prose-td:p-2 max-md:prose-thead:hidden prose-td:border-gray-500 prose-td:px-1 prose-th:border-gray-400 
        prose-th:font-normal prose-th:text-xl prose-table:border-gray-500 prose-ul:list-disc prose-ul:ml-8
        p-4 font-inter;

        .image {
            @apply p-4 text-center border border-gray-500 w-fit gap-2 table;
            img {
                @apply max-w-full;
            }
            em {
                @apply table-caption caption-bottom my-2 text-lg;
            }
        }
        .row {
            @apply justify-center flex flex-row py-1;
        }
    }
    .doc-alert {
        @apply font-open-sans w-full max-w-[600px] my-3;
        div {
            @apply block text-ellipsis break-words whitespace-pre-line;
            p {
                margin: 0 !important;
            }
        }


    }
}
@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 15px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: black;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: linear-gradient(to top, #fb923c, #ef4444);
      border-radius: 100vh;
      border: 3px solid black;
    }
  }
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes translateDown {
    0% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes shake {
    0% {
        transform: translateX(-0.5rem);
    }
    50% {
        transform: translateX(0.5rem)
    }
    100% {
        transform: translateX(0rem);
    }
}
@keyframes mastheadCycleDown {
    0% {
        transform: translateY(-3rem);
    }
    70% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes mastheadCycleUp {
    0% {
        transform: translateY(-3rem);
    }
    70% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}