@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lato:wght@300&family=Montserrat:wght@300&family=Roboto:wght@300&family=Inter:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .header {
        @apply font-josefin-sans bg-gradient-to-l from-orange-400 to-red-500 bg-clip-text text-transparent;
    }
    .hover-gradient {
        @apply hover:bg-gradient-to-l hover:from-orange-400 hover:to-red-500
    }
    .secondary {
        @apply font-montserrat text-gray-300;
    }
    .text {
        @apply font-roboto text-gray-300;
    }
    .video {
        @apply absolute -z-10 -translate-y-1/2 top-1/2 -translate-x-1/2 left-1/2 bg-black h-full min-w-full min-h-fit object-cover blur-sm;
        background-attachment: scroll;
    }
    .dashboard-sidebar-wrapper {
        @apply flex flex-row items-center py-2 border-b-2 border-opacity-50 border-gray-700 transition-all;
    }
    .dashboard-sidebar-element {
        @apply flex flex-row gap-2 font-roboto text-base max-sm:text-sm items-center ml-2 cursor-pointer transition-all;
    }
    .dashboard-sidebar-selected {
        @apply text-2xl max-md:text-sm bg-center bg-gradient-to-l from-orange-400 to-red-500;
    }
    .dashboard-sidebar-selected-text {
        @apply text-xl max-md:text-base;
    }
    .doc-content {
        @apply prose-headings:font-lato prose-h1:font-josefin-sans prose-headings:text-orange-500 
        prose-headings:my-3 prose-h1:text-6xl prose-h2:text-4xl prose-p:my-5
        prose-h3:text-2xl prose-code:text-gray-300 prose-code:bg-gray-800 prose-code:rounded-md prose-code:p-0.5 prose-blockquote:text-gray-400 
        prose-blockquote:font-semibold prose-a:text-orange-500 prose-a:no-underline prose-strong:text-gray-100
        prose-table:border prose-th:p-2 prose-th:border prose-tr:border-b prose-tr:border-gray-500 max-md:prose-tr:inline-flex max-md:prose-tr:p-2 max-md:prose-tr:w-full max-md:prose-tr:flex-col 
        md:prose-td:border-r max-md:prose-thead:hidden prose-td:border-gray-500 prose-td:px-0.5 prose-th:border-gray-400 
        prose-th:font-normal prose-th:text-xl prose-table:border-gray-500 prose-ul:list-disc prose-ul:ml-8
        p-4 font-roboto;

        .image {
            @apply p-4 text-center border border-gray-500 w-fit gap-2 table;
            img {
                @apply max-w-full;
            }
            em {
                @apply table-caption caption-bottom my-2 text-lg;
            }
        }
        .row {
            @apply justify-center flex flex-row py-1;
        }
    }
}
@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 15px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: black;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: linear-gradient(to top, #fb923c, #ef4444);
      border-radius: 100vh;
      border: 3px solid black;
    }
  }
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes translateDown {
    0% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes shake {
    0% {
        transform: translateX(-0.5rem);
    }
    50% {
        transform: translateX(0.5rem)
    }
    100% {
        transform: translateX(0rem);
    }
}
